@use "../../assets/styles/variables" as *;

.beerCard {
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  background-color: $background-color;
}

.beerCard__image {
  width: 80%;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: $light-back;
}

.beerCard__name {
  margin-top: 20px;
  font-size: 1.5rem;
  color: $vibrant-blue;
}

.beerCard__percent {
  font-size: 1rem;
  color: $vibrant-blue;
}

.beerCard__desc {
  margin-top: 10px;
  font-size: 1rem;
  color: $vibrant-blue;
}
