@use "../../assets/styles/variables" as *;

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: 2;
  background-color: $background-color;
  transition: transform 0.3s ease-in-out;

  &__content {
    padding: 2rem;
    color: $vibrant-blue;
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  &__item {
    font-size: 1.5rem;
    text-decoration: none;
  }

  &__filtering {
    position: absolute;
    top: 5rem;

    &-link {
      font-size: 1.5rem;
      color: $vibrant-blue;
      text-decoration: none;
    }
    &-div {
      display: flex;
      flex-direction: column;
    }
  }
}

.nav-menu.closed {
  transform: translateX(-100%);
}

@media screen and (max-width: 768px) {
  .nav-menu {
    width: 100%;

    &__filtering-div {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1308px) {
  .nav-menu {
    width: 30%;
  }
}
