@use "../../assets/styles/variables" as *;

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: 2;
  background-color: $background-color;
  transition: transform 0.3s ease-in-out;

  &__content {
    padding: 2rem;
    color: $vibrant-blue;
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  &__item {
    font-size: 1.5rem;
    text-decoration: none;
  }

  &__filtering {
    position: absolute;
    top: 5rem;
  }
}

.nav-menu.closed {
  transform: translateX(-100%);
}
